<div class="container">
  <div class="row">
    <div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 content-left">
        <div  class="titleContact">Liên hệ tòa soạn báo VietNamNet</div>
        <form>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"
              >Họ tên...<label class="labelformcheck">*</label></label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                placeholder="Nhập họ tên"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"
              >Email...<label class="labelformcheck">*</label></label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                placeholder="Nhập email"
              />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label"
              >Gửi tới<label class="labelformcheck">*</label></label
            >
            <div class="col-sm-4">
              <select class="form-control">
                <option>--Chọn--</option>
              </select>
            </div>
            <div class="col-sm-6"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"
              >Tiêu đề...<label class="labelformcheck">*</label></label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                placeholder="Nhập tiêu đề"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"
              >File đính kèm<label class="labelformcheck">*</label></label
            >
            <div class="col-sm-10">
              <input type="file" class="form-control-file" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"
              >Nội dung...<label class="labelformcheck">*</label></label
            >
            <div class="col-sm-10">
              <textarea class="form-control" rows="8"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Mã xác nhận</label>
            <div class="col-sm-3">
              <input
                type="text"
                class="form-control"
                placeholder="Nhập mã xác nhận"
              />
            </div>
            <div class="col-sm-2">
              <input
                type="text"
                class="form-control"
                placeholder="Abczyz"
                disabled
              />
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <button type="submit" class="btn btn-primary">Xóa trắng</button>
            </div>
            <div class="col-sm-2">
              <button type="submit" class="btn btn-danger">Gửi</button>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-12 col-form-label labelform"
              >Phần có dấu(<label class="labelformcheck">*</label>) là thông tin
              bắt buộc</label
            >
          </div>
        </form>
      </div>
    </div>

    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 content-right">
        <div class="row logo-mail-contact">
          <div class="logo">
            <img src="./assets/img/mail.webp" alt="" />
          </div>
        </div>
        <div class="row">
          <div class="listcontact">
            <ul class="contact-detail">
              <li>
                <b>Tòa soạn: </b>Tòa nhà C'Land - 156 Xã Đàn 2,
                <p>Đống Đa, Hà Nội</p>
              </li>
              <li><b>Đường dây nóng: </b>0923 457 788</li>
              <li><b>Điện thoại: </b>(024) 37722729</li>
              <li><b>Fax: </b>(024) 37722734</li>
              <li><b>Email: </b>vietnamnet@vietnamnet.vn</li>
            </ul>
          </div>
        </div>
        <hr style="border: 0.5px solid rgb(20, 20, 20); width: 94%" />
        <div class="row detaillast">
          <div class="listcontact">
            <ul class="contact-detail">
              <li>
                <b>Văn phòng đại diện tại TP.HCM: </b>
                <p>Lầu 5, Tòa nhà TF, 408 Điện Biên Phủ, P.10,</p>
                <p>Q.11, TP.HCM</p>
              </li>
              <li><b>Đường dây nóng: </b>0962 237 788</li>
              <li><b>Điện thoại: </b>(028) 38181436</li>
              <li><b>Fax: </b>(028) 38181433</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row2">
   <img src="./assets/img/map.png"class="cangiua" alt="map" />
  </div>
</div>
