.titleContact {
    text-transform: uppercase;
    color: rgb(36, 12, 197);
    font-weight: 550;
    padding: 20px;
    font-size: 18px;
}

.content-left {
    background-color: rgb(219, 215, 215);
    height: 100%;
    margin-bottom: 10px;

}

.content-right {
    background-color: rgb(219, 215, 215);
    height: 100%;
    margin-bottom: 10px;
}

.labelform {
    font-style: italic;
    font-size: 10px;
}

.labelformcheck {
    color: red;
    font-style: italic;
}

label {
    color: rgb(63, 65, 65);
}

.logo-mail-contact img {
    width: 50%;
    height: 50%;
    margin: 7.5% 25%;
}

.listcontact li {
    padding: 1px;
}
.row2 img{
  width: 150%;
 margin: 70px;

}
