<div class="container">
{{searchTerm}}
    <!-- Chính trị -->
    <div class="item">
        <a [routerLink]="['/chinh-tri']" routerLinkActive="$router_link-active$">Chính trị</a>
        <h2>
            {{RssDataChinhTri?.rss.channel[0].title[0]}}
        </h2>
        <div class="grid-item">
            <div>
                <img src="{{RssDataChinhTri?.rss.channel[0].item[0].content[0].url}}"><br>
                <a name="description" (click)="getRssDetail(0)" [routerLink]="['/chinh-tri-detail']" routerLinkActive="router-link-active">{{RssDataChinhTri?.rss.channel[0].item[0].title[0]}}</a>
                <p style="font-size: 20px">{{RssDataChinhTri?.rss.channel[0].item[0].description}}</p>
            </div>
            <div>
                <ul>
                    <li *ngFor="let o of RssDataChinhTri?.rss.channel[0].item   let i = index  ">
                        <a *ngIf="i>0 && i<6" (click)="getRssDetail(i)" [routerLink]="['/chinh-tri-detail']" routerLinkActive="router-link-active">{{o.title}}</a>
                        <p *ngIf="i>0 && i<6">{{o.pubDate |date:'longDate'}}</p>
                    </li>
                </ul>

            </div>

        </div>
    </div>
    <!-- Thời sự -->
    <div class="item">
        <a [routerLink]="['/thoi-su']" routerLinkActive="$router_link-active$">Thời sự</a>
        <h2>
            {{RssDataThoiSu?.rss.channel[0].title[0]}}
        </h2>
        <div class="grid-item">
            <div>
                <img src="{{RssDataThoiSu?.rss.channel[0].item[0].content[0].url}}"><br>
                <a name="description" (click)="getRssDetail(0)" [routerLink]="['/thoi-su-detail']" routerLinkActive="router-link-active">{{RssDataThoiSu?.rss.channel[0].item[0].title[0]}}</a>
              <p style="font-size: 20px">{{RssDataThoiSu?.rss.channel[0].item[0].description}}</p>
            </div>
            <div>
                <ul>
                    <li *ngFor="let o of RssDataThoiSu?.rss.channel[0].item   let i = index  ">
                        <a *ngIf="i>0 && i<6" (click)="getRssDetail(i)" [routerLink]="['/thoi-su-detail']" routerLinkActive="router-link-active">{{o.title}}</a>
                        <p *ngIf="i>0 && i<6">{{o.pubDate |date:'longDate'}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Kinh Doanh -->
    <div class="item">
        <a [routerLink]="['/kinh-doanh']" routerLinkActive="$router_link-active$">Kinh doanh</a>
        <h2>
            {{RssDataKinhDoanh?.rss.channel[0].title[0]}}
        </h2>
        <div class="grid-item">
            <div>
                <img src="{{RssDataKinhDoanh?.rss.channel[0].item[0].content[0].url}}"><br>
                <a name="description" (click)="getRssDetail(0)" [routerLink]="['/kinh-doanh-detail']" routerLinkActive="router-link-active">{{RssDataKinhDoanh?.rss.channel[0].item[0].title[0]}}</a>
              <p style="font-size: 20px">{{RssDataKinhDoanh?.rss.channel[0].item[0].description}}</p>
            </div>
            <div>
                <ul>
                    <li *ngFor="let o of RssDataKinhDoanh?.rss.channel[0].item   let i = index  ">
                        <a *ngIf="i>0 && i<6" (click)="getRssDetail(i)" [routerLink]="['/kinh-doanh-detail']" routerLinkActive="router-link-active">{{o.title}}</a>
                        <p *ngIf="i>0 && i<6">{{o.pubDate |date:'longDate'}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Giải trí  -->
    <div class="item">
        <a [routerLink]="['/giai-tri']" routerLinkActive="$router_link-active$">Giải trí</a>
        <h2>
            {{RssDataGiaiTri?.rss.channel[0].title[0]}}
        </h2>
        <div class="grid-item">
            <div>
                <img src="{{RssDataGiaiTri?.rss.channel[0].item[0].content[0].url}}"><br>
                <a name="description" (click)="getRssDetail(0)" [routerLink]="['/giai-tri-detail']" routerLinkActive="router-link-active">{{RssDataGiaiTri?.rss.channel[0].item[0].title[0]}}</a>
              <p style="font-size: 20px">{{RssDataGiaiTri?.rss.channel[0].item[0].description}}</p>
            </div>
            <div>
                <ul>
                    <li *ngFor="let o of RssDataGiaiTri?.rss.channel[0].item   let i = index  ">
                        <a *ngIf="i>0 && i<6" (click)="getRssDetail(i)" [routerLink]="['/giai-tri-detail']" routerLinkActive="router-link-active">{{o.title}}</a>
                        <p *ngIf="i>0 && i<6">{{o.pubDate |date:'longDate'}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Thế giới -->
    <div class="item">
        <a [routerLink]="['/the-gioi']" routerLinkActive="$router_link-active$">Thế giới</a>
        <h2>
            {{RssDataTheGioi?.rss.channel[0].title[0]}}
        </h2>
        <div class="grid-item">
            <div>
                <img src="{{RssDataTheGioi?.rss.channel[0].item[0].content[0].url}}"><br>
                <a name="description" (click)="getRssDetail(0)" [routerLink]="['/the-gioi-detail']" routerLinkActive="router-link-active">{{RssDataTheGioi?.rss.channel[0].item[0].title[0]}}</a>
              <p style="font-size: 20px">{{RssDataTheGioi?.rss.channel[0].item[0].description}}</p>
            </div>
            <div>
                <ul>
                    <li *ngFor="let o of RssDataTheGioi?.rss.channel[0].item   let i = index  ">
                        <a *ngIf="i>0 && i<6" (click)="getRssDetail(i)" [routerLink]="['/the-gioi-detail']" routerLinkActive="router-link-active">{{o.title}}</a>
                      <p *ngIf="i>0 && i<6">{{o.pubDate |date:'longDate'}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Giáo dục  -->
    <div class="item">
        <a [routerLink]="['/giao-duc']" routerLinkActive="$router_link-active$">Giáo dục</a>
        <h2>
            {{RssDataGiaoDuc?.rss.channel[0].title[0]}}
        </h2>
        <div class="grid-item">
            <div>
                <img src="{{RssDataGiaoDuc?.rss.channel[0].item[0].content[0].url}}"><br>
                <a name="description" (click)="getRssDetail(0)" [routerLink]="['/giao-duc-detail']" routerLinkActive="router-link-active">{{RssDataGiaoDuc?.rss.channel[0].item[0].title[0]}}</a>
              <p style="font-size: 20px">{{RssDataGiaoDuc?.rss.channel[0].item[0].description}}</p>
            </div>
            <div>
                <ul>
                    <li *ngFor="let o of RssDataGiaoDuc?.rss.channel[0].item   let i = index  ">
                        <a *ngIf="i>0 && i<6" (click)="getRssDetail(i)" [routerLink]="['/giao-duc-detail']" routerLinkActive="router-link-active">{{o.title}}</a>
                      <p *ngIf="i>0 && i<6">{{o.pubDate |date:'longDate'}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Đời sống -->
    <div class="item">
        <a [routerLink]="['/doi-song']" routerLinkActive="$router_link-active$">Đời sống</a>
        <h2>
            {{RssDataDoiSong?.rss.channel[0].title[0]}}
        </h2>
        <div class="grid-item">
            <div>
                <img src="{{RssDataDoiSong?.rss.channel[0].item[0].content[0].url}}"><br>
                <a name="description" (click)="getRssDetail(0)" [routerLink]="['/doi-song-detail']" routerLinkActive="router-link-active">{{RssDataDoiSong?.rss.channel[0].item[0].title[0]}}</a>
              <p style="font-size: 20px">{{RssDataDoiSong?.rss.channel[0].item[0].description}}</p>
            </div>
            <div>
                <ul>
                    <li *ngFor="let o of RssDataDoiSong?.rss.channel[0].item   let i = index  ">
                        <a *ngIf="i>0 && i<6" (click)="getRssDetail(i)" [routerLink]="['/doi-song-detail']" routerLinkActive="router-link-active">{{o.title}}</a>
                      <p *ngIf="i>0 && i<6">{{o.pubDate |date:'longDate'}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Pháp luật  -->
    <div class="item">
        <a [routerLink]="['/phap-luat']" routerLinkActive="$router_link-active$">Pháp luật</a>
        <h2>
            {{RssDataPhapLuat?.rss.channel[0].title[0]}}
        </h2>
        <div class="grid-item">
            <div>
                <img src="{{RssDataPhapLuat?.rss.channel[0].item[0].content[0].url}}"><br>
                <a name="description" (click)="getRssDetail(0)" [routerLink]="['/phap-luat-detail']" routerLinkActive="router-link-active">{{RssDataPhapLuat?.rss.channel[0].item[0].title[0]}}</a>
              <p style="font-size: 20px">{{RssDataPhapLuat?.rss.channel[0].item[0].description}}</p>
            </div>
            <div>
                <ul>
                    <li *ngFor="let o of RssDataPhapLuat?.rss.channel[0].item   let i = index  ">
                        <a *ngIf="i>0 && i<6" (click)="getRssDetail(i)" [routerLink]="['/phap-luat-detail']" routerLinkActive="router-link-active">{{o.title}}</a>
                      <p *ngIf="i>0 && i<6">{{o.pubDate |date:'longDate'}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Thể thao  -->
    <div class="item">
        <a [routerLink]="['/the-thao']" routerLinkActive="$router_link-active$">Thể thao</a>
        <h2>
            {{RssDataTheThao?.rss.channel[0].title[0]}}
        </h2>
        <div class="grid-item">
            <div>
                <img src="{{RssDataTheThao?.rss.channel[0].item[0].content[0].url}}"><br>
                <a name="description" (click)="getRssDetail(0)" [routerLink]="['/the-thao-detail']" routerLinkActive="router-link-active">{{RssDataTheThao?.rss.channel[0].item[0].title[0]}}</a>
              <p style="font-size: 20px">{{RssDataTheThao?.rss.channel[0].item[0].description}}</p>
            </div>
            <div>
                <ul>
                    <li *ngFor="let o of RssDataTheThao?.rss.channel[0].item   let i = index  ">
                        <a *ngIf="i>0 && i<6" (click)="getRssDetail(i)" [routerLink]="['/the-thao-detail']" routerLinkActive="router-link-active">{{o.title}}</a>
                      <p *ngIf="i>0 && i<6">{{o.pubDate |date:'longDate'}}</p> </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Công nghệ  -->
    <div class="item">
        <a [routerLink]="['/cong-nghe']" routerLinkActive="$router_link-active$">Công nghệ</a>
        <h2>
            {{RssDataCongNghe?.rss.channel[0].title[0]}}
        </h2>
        <div class="grid-item">
            <div>
                <img src="{{RssDataCongNghe?.rss.channel[0].item[0].content[0].url}}"><br>
                <a name="description" (click)="getRssDetail(0)" [routerLink]="['/cong-nghe-detail']" routerLinkActive="router-link-active">{{RssDataCongNghe?.rss.channel[0].item[0].title[0]}}</a>
              <p style="font-size: 20px">{{RssDataCongNghe?.rss.channel[0].item[0].description}}</p>
            </div>
            <div>
                <ul>
                    <li *ngFor="let o of RssDataCongNghe?.rss.channel[0].item   let i = index  ">
                        <a *ngIf="i>0 && i<6" (click)="getRssDetail(i)" [routerLink]="['/cong-nghe-detail']" routerLinkActive="router-link-active">{{o.title}}</a>
                      <p *ngIf="i>0 && i<6">{{o.pubDate |date:'longDate'}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Suc kHỏe  -->
    <div class="item">
        <a [routerLink]="['/suc-khoe']" routerLinkActive="$router_link-active$">Sức khỏe</a>
        <h2>
            {{RssDataSucKhoe?.rss.channel[0].title[0]}}
        </h2>
        <div class="grid-item">
            <div>
                <img src="{{RssDataSucKhoe?.rss.channel[0].item[0].content[0].url}}"><br>
                <a name="description" (click)="getRssDetail(0)" [routerLink]="['/suc-khoe-detail']" routerLinkActive="router-link-active">{{RssDataSucKhoe?.rss.channel[0].item[0].title[0]}}</a>
              <p style="font-size: 20px">{{RssDataSucKhoe?.rss.channel[0].item[0].description}}</p>
            </div>
            <div>
                <ul>
                    <li *ngFor="let o of RssDataSucKhoe?.rss.channel[0].item   let i = index  ">
                        <a *ngIf="i>0 && i<6" (click)="getRssDetail(i)" [routerLink]="['/suc-khoe-detail']" routerLinkActive="router-link-active">{{o.title}}</a>
                      <p *ngIf="i>0 && i<6">{{o.pubDate |date:'longDate'}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Bất động sản  -->
    <div class="item">
        <a [routerLink]="['/bat-dong-san']" routerLinkActive="$router_link-active$">Bất động sản</a>
        <h2>
            {{RssDataBatDongSan?.rss.channel[0].title[0]}}
        </h2>
        <div class="grid-item">
            <div>
                <img src="{{RssDataBatDongSan?.rss.channel[0].item[0].content[0].url}}"><br>
                <a name="description" (click)="getRssDetail(0)" [routerLink]="['/bat-dong-san-detail']" routerLinkActive="router-link-active">{{RssDataBatDongSan?.rss.channel[0].item[0].title[0]}}</a>
              <p style="font-size: 20px">{{RssDataBatDongSan?.rss.channel[0].item[0].description}}</p>
            </div>
            <div>
                <ul>
                    <li *ngFor="let o of RssDataBatDongSan?.rss.channel[0].item   let i = index  ">
                        <a *ngIf="i>0 && i<6" (click)="getRssDetail(i)" [routerLink]="['/bat-dong-san-detail']" routerLinkActive="router-link-active">{{o.title}}</a>
                      <p *ngIf="i>0 && i<6">{{o.pubDate |date:'longDate'}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Bạn đọc  -->
    <div class="item">
        <a [routerLink]="['/ban-doc']" routerLinkActive="$router_link-active$">Bạn đọc</a>
        <h2>
            {{RssDataBanDoc?.rss.channel[0].title[0]}}
        </h2>
        <div class="grid-item">
            <div>
                <img src="{{RssDataBanDoc?.rss.channel[0].item[0].content[0].url}}"><br>
                <a name="description" (click)="getRssDetail(0)" [routerLink]="['/ban-doc-detail']" routerLinkActive="router-link-active">{{RssDataBanDoc?.rss.channel[0].item[0].title[0]}}</a>
              <p style="font-size: 20px">{{RssDataBanDoc?.rss.channel[0].item[0].description}}</p>
            </div>
            <div>
                <ul>
                    <li *ngFor="let o of RssDataBanDoc?.rss.channel[0].item   let i = index  ">
                        <a *ngIf="i>0 && i<6" (click)="getRssDetail(i)" [routerLink]="['/ban-doc-detail']" routerLinkActive="router-link-active">{{o.title}}</a>
                      <p *ngIf="i>0 && i<6">{{o.pubDate |date:'longDate'}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Tuần viejt nam  -->
    <div class="item">
        <a [routerLink]="['/tuan-vn']" routerLinkActive="$router_link-active$">Tuần Việt Nam</a>
        <h2>
            {{RssDataTuanVietNam?.rss.channel[0].title[0]}}
        </h2>
        <div class="grid-item">
            <div>
                <img src="{{RssDataTuanVietNam?.rss.channel[0].item[0].content[0].url}}"><br>
                <a name="description" (click)="getRssDetail(0)" [routerLink]="['/tuan-vn-detail']" routerLinkActive="router-link-active">{{RssDataTuanVietNam?.rss.channel[0].item[0].title[0]}}</a>
              <p style="font-size: 20px">{{RssDataTuanVietNam?.rss.channel[0].item[0].description}}</p>
            </div>
            <div>
                <ul>
                    <li *ngFor="let o of RssDataTuanVietNam?.rss.channel[0].item   let i = index  ">
                        <a *ngIf="i>0 && i<6" (click)="getRssDetail(i)" [routerLink]="['/tuan-vn-detail']" routerLinkActive="router-link-active">{{o.title}}</a>
                      <p *ngIf="i>0 && i<6">{{o.pubDate |date:'longDate'}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Xe  -->
    <div class="item">
        <a [routerLink]="['/xe']" routerLinkActive="$router_link-active$">Xe</a>
        <h2>
            {{RssDataXe?.rss.channel[0].title[0]}}
        </h2>
        <div class="grid-item">
            <div>
                <img src="{{RssDataXe?.rss.channel[0].item[0].content[0].url}}"><br>
                <a name="description" (click)="getRssDetail(0)" [routerLink]="['/xe-detail']" routerLinkActive="router-link-active">{{RssDataXe?.rss.channel[0].item[0].title[0]}}</a>
              <p style="font-size: 20px">{{RssDataXe?.rss.channel[0].item[0].description}}</p>
            </div>
            <div>
                <ul>
                    <li *ngFor="let o of RssDataXe?.rss.channel[0].item   let i = index  ">
                        <a *ngIf="i>0 && i<6" (click)="getRssDetail(i)" [routerLink]="['/xe-detail']" routerLinkActive="router-link-active">{{o.title}}</a>
                      <p *ngIf="i>0 && i<6">{{o.pubDate |date:'longDate'}}</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!-- video -->
    <div class="item">
        <a [routerLink]="['/video']" routerLinkActive="$router_link-active$">Video</a>
    </div>


</div>
