.main-content-left ul {
    list-style-type: none;
}

.main-content-left ul a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.main-content-left ul a:hover {
    color: rgba(155, 27, 27, 0.9);
    text-decoration: none;
}

.main-content-left p {
    margin: 0;
}


/*  */

.example-viewport {
    height: 450px;
    width: 100%;
}

.example-item {
    height: auto;
    padding: 4px 10px;
}

.example-item a {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}

.example-item a p {
    text-align: justify;
    margin: 0;
}

.example-item a:hover {
    color: rgba(223, 20, 20, 0.9);
    text-decoration: none;
}

@media screen and (max-width:500px) {
    h3 {
        font-size: 18px;
    }
    p {
        font-size: 12px;
    }
    .cdk-virtual-scroll-viewport {
        overflow: hidden;
    }
    .example-viewport {
        height: 350px;
    }
}
