.container{
  /*width: 750px;*/
}
h3{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: #971927;
  font-weight: bold;
}
p{
  color: #240cc5;
  font-size: 30px;
}
.btn-top {
  background-repeat: no-repeat;
  border: medium none;
  bottom: 20px;
  cursor: pointer;
  /*display: none;*/
  height: 50px;
  outline: medium none;
  padding: 0;
  position: fixed;
  right: 20px;
  width: 50px;
  z-index: 9999;
  font-size: 30px;
}
#btn-backontop{

}
