.container{
  /*width: 750px;*/
}
h3{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: #971927;
  font-weight: bold;
}
p{
  color: #240cc5;
  font-size: 30px;
}

