<div class="container">


    <div class="row">
        <h2 class="col-lg-12">About</h2>
        <p class="col-lg-12">Đây là nhóm 8 Frontend Thực hiện thiết kế Website Tin tức
        </p>
    </div>
    <h2 class="title">Sinh viên Đại học Nông Lâm TP.HCM</h2>
    <div class="row row1">

        <div class="col-lg-4">
            <img src="../assets/img/avatar.jpg" alt="John" style="width:100%">
            <h3>Nguyễn Quốc Việt</h3>
            <p>Mssv: 18130283</p>
            <p>Thực hiện thiết kế Footer Header & page Contact& chức năng load RssChinhTri</p>
            <p><button type="button" class="btn btn-primary">Liên hệ</button></p>
        </div>

        <div class="col-lg-4">
            <img src="../assets/img/avatar.jpg" alt="Jane" style="width:100%">
            <h3>Phạm Nhật Tân</h3>
            <p>Mssv: 18130283</p>
            <p>Thực hiện thiết kế trang chủ & trang chi tiết & chức năng load RssChinhTri</p>
            <p><button type="button" class="btn btn-primary">Liên hệ</button></p>
        </div>

        <div class="col-lg-4">
            <img src="../assets/img/avatar.jpg" alt="Mike" style="width:100%">
            <h3>Bùi Xuân Quang</h3>
            <p>Mssv: 18130283</p>
            <p>Thực hiện thiết kế trang đăng ký đăng nhập trang người dùng</p>
            <p><button type="button" class="btn btn-primary">Liên hệ</button></p>
        </div>




    </div>
</div>
