/* .menu{
  position: relative;
  width: 800px;  height: 200px;
} */


.menutable{

  background-image: url("/assets/img/more.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.table-item {
    padding: 20px 25px;

}

.table-item a {
  background-image: url("/assets/img/btn.jpeg");

  background-size: initial;
  color: rgb(0, 0, 0);
    text-decoration: none;

    opacity: 1;
    border-radius: 2px;
    padding: 5px 15px;
    background-color: rgb(53, 53, 53);
    box-shadow: 1px 1px 15px 4px rgb(226, 225, 225);
    cursor: pointer;
}

.table-item a:hover {
  color: rgb(255, 0, 0);
  opacity: 0.9;
  transition: 0.5s;
}
.btn-cancel{
  margin-bottom: 0;
  margin-right: 15px;
}
.btn-cancel button{
  background-image: url("/assets/img/btn.jpg");
 opacity: 0.7;
color: rgb(226, 225, 225);
box-shadow: 2px 2px 8px 5px rgb(226, 225, 225);
}.btn-cancel button:hover{
opacity: 1;
}
