.megamenucontainer {
    padding: 20px 25px;
    width: 800px;

}

.row1 {
    display: flex;
    padding: 10px;
}

.row2 {
    display: flex;
    padding: 10px;
}

.row3 {
    display: flex;
    padding: 10px;
}

.megamenucol {
    padding: 0 15px;
    flex-basis: 0;
    flex-grow: 1;
    line-height: 20px;
}

.megamenucol a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 1px solid rgb(163, 173, 173);
    border-radius: 2px;
    padding: 5px 15px;
    background-color: rgb(163, 173, 173);
    box-shadow: 4px 4px 4px rgb(226, 225, 225);;
}

.megamenucol a:hover {
    color: rgb(202, 192, 192);
    border: 1px solid rgb(73, 80, 79);
    background-color: rgb(73, 80, 79);
}
