<div class="megamenucontainer">
    <div class=" row1">
        <div class="megamenucol">
            <a href="" class="megamenugnt">Góc nhìn thẳng</a>
        </div>
        <div class="megamenucol">
            <a href="" class="megamenugnt">Hot face</a>
        </div>
        <div class="megamenucol">
            <a href="" class="megamenugnt">Bàn tròn trực tuyến</a>
        </div>
        <div class="megamenucol"><a href="" class="megamenugnt">24H</a></div>
    </div>
    <div class=" row2">
        <div class="megamenucol">
            <a href="" class="megamenugnt">Multimedia</a>
        </div>
        <div class="megamenucol">
            <a href="" class="megamenugnt" target="_blank">Video</a>
        </div>
        <div class="megamenucol">
            <a [routerLink]="['/introduce']" routerLinkActive="router-link-active" class="megamenugnt" target="_blank">Giới thiệu</a>
        </div>
        <div class="megamenucol">
            <a [routerLink]="['/contact']" routerLinkActive="router-link-active" class="megamenugnt" target="_blank"><i class="fas fa-phone-alt"></i>Liên hệ</a>
        </div>
    </div>

</div>
