<div class="container footer">
    <div class="row row1">


        <ul class="rowFooter col-lg-12">
            <li class="rowFooter1 col-lg-2 col-xs-2 col-sm-2 ">


                <ul class="titleFooter1">

                    <li class="itemTitle"><a [routerLink]="['/phap-luat']" routerLinkActive="router-link-active">Pháp luật</a>
                    </li>
                    <div class="itemBody">
                        <li class="item"><a href="">Hồ sơ vụ án</a></li>
                        <li class="item"><a href="">Kí sự pháp đình</a></li>
                        <li class="item"><a href="">Tư vấn pháp luật</a></li>
                        <li class="item"><a href="">Hành trình phá án</a></li>
                    </div>


                </ul>
            </li>
            <li class="rowFooter1 col-lg-2 col-xs-2 col-sm-2 ">
                <ul class="titleFooter1">

                    <li class="itemTitle"><a [routerLink]="['/cong-nghe']" routerLinkActive="router-link-active">Công nghệ</a>
                    </li>
                    <div class="itemBody">
                        <li class="item"><a href="">Bảo mật</a></li>
                        <li class="item"><a href="">Sản phẩm</a></li>
                        <li class="item"><a href="">Ứng dụng</a></li>
                        <li class="item"><a href="">Thủ thuật</a></li>
                    </div>

                </ul>
            </li>
            <li class="rowFooter1 col-lg-2 col-xs-2 col-sm-2 ">
                <ul class="titleFooter1">

                    <li class="itemTitle"><a [routerLink]="['/giao-duc']" routerLinkActive="router-link-active">Giáo dục</a></li>
                    <div class="itemBody">
                        <li class="item"><a href="">Tuyển sinh</a></li>
                        <li class="item"><a href="">Du học</a></li>
                        <li class="item"><a href="">Trắc nghiệm</a></li>
                        <li class="item"><a href="">Cuộc thi</a></li>
                    </div>

                </ul>
            </li>
            <li class="rowFooter1 col-lg-2 col-xs-2 col-sm-2 ">
                <ul class="titleFooter1">

                    <li class="itemTitle"><a [routerLink]="['/thoi-su']" routerLinkActive="router-link-active">Thời sự</a></li>
                    <div class="itemBody">
                        <li class="item"><a href="">Quốc phòng</a></li>
                        <li class="item"><a href="">An toàn giao thông</a></li>
                        <li class="item"><a href="">Clip nóng</a></li>
                        <li class="item"><a href="">Bút bi</a></li>
                    </div>

                </ul>
            </li>
            <li class="rowFooter1 col-lg-2 col-xs-2 col-sm-2 ">
                <ul class="titleFooter1">

                    <li class="itemTitle"><a [routerLink]="['/giai-tri']" routerLinkActive="router-link-active">Giải trí</a></li>
                    <div class="itemBody">
                        <li class="item"><a href="">Phim</a></li>
                        <li class="item"><a href="">Tin tức sao Việt</a></li>
                        <li class="item"><a href="">Thời trang</a></li>
                        <li class="item"><a href="">Hài</a></li>
                    </div>

                </ul>
            </li>
            <li class="rowFooter1 col-lg-2 col-xs-2 col-sm-2 ">
                <ul class="titleFooter1">

                    <li class="itemTitle"><a [routerLink]="['/the-thao']" routerLinkActive="router-link-active">Thể thao</a></li>
                    <div class="itemBody">
                        <li class="item"><a href="">Bóng đá Việt Nam</a></li>
                        <li class="item"><a href="">Bóng đá quốc tế</a></li>
                        <li class="item"><a href="">Trực tiếp bóng đá</a></li>
                        <li class="item"><a href="">Xếp hạng</a></li>
                    </div>

                </ul>
            </li>
        </ul>
        <hr class=" col-lg-12 col-xs-12 col-sm-12 ">



    </div>
    <div class="row row2">


        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 imgLogo">
            <a href="" class="logo"><img src="https://vnn-res.vgcloud.vn/ResV9/images/logo-vnn-hungcuong-d2.svg" alt="Logo VietNamNet" /></a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 textCoppyright">
            <p class="coppyright"><i class="far fa-copyright"></i>Coppyright 2021 Báo VietNamNet. All rights reserved</p>
            <p class="coppyright"><i class="far fa-copyright"></i>Báo VietNamNet giữ bản quyền nội dung trên website này</p>
            <p class="note">Chỉ được phát hành lại thông tin từ website này khi có sự đồng ý bằng văn bản của báo VietNamNet
            </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textContact">
            <p><label class="text">Theo dõi báo VietNamNet:
          <label for="" class="iconFace"><a href=""><i class="fab fa-facebook-f"></i></a></label>
                <label for="" class="iconYoutube"><a href=""><i class="fab fa-youtube"></i></a></label>
                <label for="" class="iconIns"><a href=""><i class="fab fa-instagram"></i></a></label>
                <label for="" class="iconTwitter"><a href=""><i class="fab fa-twitter"></i></a></label>
                </label>
            </p>
            <p class="text">Hỗ trợ kỹ thuật: suport@gmail..com</p>
            <label class="textbot">
        <a [routerLink]="['/contact']" target="blank" routerLinkActive="router-link-active"> Liên hệ quảng cáo</a>
        | <a [routerLink]="['/introduce']" target="blank" routerLinkActive="router-link-active">Điều khoản bảo mật </a>
        |
        <a [routerLink]="['/contact']" target="blank" routerLinkActive="router-link-active"> Liên hệ góp ý </a>|
        Hotline:</label>

            <label class="text"> <a [routerLink]="['/contact']" target="blank" routerLinkActive="router-link-active"
          class="sdt">18001810</a></label>
        </div>
    </div>

</div>