<div class="container">
    <div class="row row1">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2 logoVNN ">
            <a href="" class="logo"><img src="https://vnn-res.vgcloud.vn/ResV9/images/logo-vnn-hungcuong-d2.svg" alt="Logo VietNamNet" /></a>

        </div>
        <div class="col-lg-3 hot">

            <a href="" class="hotCovid">#Covid-19</a>
            <a href="" class="hotApp">#Tải app VietNamNet</a>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-4 col-lg-2 search">

            <input type="text" class="searchTinTuc" />
            <a href="" class="iconSearch"><i class="fas fa-search "></i></a>

        </div>
        <div class="col-sm-5 col-md-4 col-lg-3 btnHeader">

            <button class="btn btn-danger  btnTinNong">Tin nóng</button>
            <button class="btn btn-primary  btnTin24">Tin tức 24h</button>

        </div>
        <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2 iconHeader">
            <a href="" class="iconFace"><i class="fab fa-facebook-f"></i></a>

            <a href="" class=" iconYoutube "> <i class="fab fa-youtube"></i></a>
            <a href="" class=" iconUser "><i class="fas fa-user"></i></a>

        </div>
    </div>
    <div class="row row2">
        <div class="menu">

            <ul class="menuItem">

                <li class="iconTrangChu"> <a [routerLink]="['/home']" routerLinkActive="$router_link-active$" class="iconTrangChu"><i class="fas fa-home"></i></a></li>
                <li class="item"><a [routerLink]="['/chinh-tri']" routerLinkActive="$router_link-active$" class="iconTrangChu">Chính trị</a>

                </li>
                <li class="item"><a [routerLink]="['/thoi-su']" routerLinkActive="$router_link-active$" class="iconTrangChu">Thời sự</a>
                    <ul class="subMenu">
                        <li class="subItem">
                            <a href="">Chống tham nhũng</a>
                        </li>
                        <li class="subItem">
                            <a href="">Quốc hội</a>
                        </li>
                        <li class="subItem">
                            <a href="">An toàn giao thông</a>
                        </li>
                        <li class="subItem">
                            <a href="">Môi trường</a>
                        </li>
                        <li class="subItem">
                            <a href="">Clip nóng</a>
                        </li>
                    </ul>
                </li>
                <li class="item"><a [routerLink]="['/kinh-doanh']" routerLinkActive="$router_link-active$" class="iconTrangChu">Kinh doanh</a>
                    <ul class="subMenu">
                        <li class="subItem">
                            <a href="">Tài chính</a>
                        </li>
                        <li class="subItem">
                            <a href="">Đầu tư</a>
                        </li>
                        <li class="subItem">
                            <a href="">Thị trường</a>
                        </li>
                        <li class="subItem">
                            <a href="">Doanh nhân</a>
                        </li>
                        <li class="subItem">
                            <a href="">Tư vấn tài chính</a>
                        </li>
                    </ul>
                </li>
                <li class="item"><a [routerLink]="['/giai-tri']" routerLinkActive="$router_link-active$" class="iconTrangChu">Giải trí</a>
                    <ul class="subMenu">
                        <li class="subItem">
                            <a href="">Thế giới sao</a>
                        </li>
                        <li class="subItem">
                            <a href="">Thời trang</a>
                        </li>
                        <li class="subItem">
                            <a href="">Nhạc</a>
                        </li>
                        <li class="subItem">
                            <a href="">Phim</a>
                        </li>
                        <li class="subItem">
                            <a href="">Truyền hình</a>
                        </li>
                    </ul>
                </li>
                <li class="item"><a [routerLink]="['/the-gioi']" routerLinkActive="$router_link-active$" class="iconTrangChu">Thế giới</a>
                    <ul class="subMenu">
                        <li class="subItem">
                            <a href="">Bình luận quốc tế</a>
                        </li>
                        <li class="subItem">
                            <a href="">Chân dung</a>
                        </li>
                        <li class="subItem">
                            <a href="">Hồ sơ</a>
                        </li>
                        <li class="subItem">
                            <a href="">Thế giới đó đây</a>
                        </li>
                        <li class="subItem">
                            <a href="">Quân sự</a>
                        </li>
                    </ul>
                </li>
                <li class="item"><a [routerLink]="['/giao-duc']" routerLinkActive="$router_link-active$" class="iconTrangChu">Giáo dục</a>
                    <ul class="subMenu">
                        <li class="subItem">
                            <a href="">Việc làm</a>
                        </li>
                        <li class="subItem">
                            <a href="">Người thầy</a>
                        </li>
                        <li class="subItem">
                            <a href="">Tuyển sinh</a>
                        </li>
                        <li class="subItem">
                            <a href="">Du học</a>
                        </li>
                        <li class="subItem">
                            <a href="">Khoa học</a>
                        </li>
                    </ul>
                </li>
                <li class="item"><a [routerLink]="['/doi-song']" routerLinkActive="$router_link-active$" class="iconTrangChu">Đời sống</a>
                    <ul class="subMenu">
                        <li class="subItem">
                            <a href="">Gia đình</a>
                        </li>
                        <li class="subItem">
                            <a href="">Chuyện lạ</a>
                        </li>
                        <li class="subItem">
                            <a href="">Giới trẻ</a>
                        </li>
                        <li class="subItem">
                            <a href="">Tâm sự</a>
                        </li>
                        <li class="subItem">
                            <a href="">Ẩm thực</a>
                        </li>
                    </ul>
                </li>
                <li class="item"><a [routerLink]="['/phap-luat']" routerLinkActive="$router_link-active$" class="iconTrangChu">Pháp luật</a>
                    <ul class="subMenu">
                        <li class="subItem">
                            <a href="">Hồ sơ vụ án</a>
                        </li>
                        <li class="subItem">
                            <a href="">Ký sự pháp đình</a>
                        </li>
                        <li class="subItem">
                            <a href="">Tư vấn pháp luật</a>
                        </li>

                    </ul>
                </li>
                <li class="item"><a [routerLink]="['/the-thao']" routerLinkActive="$router_link-active$" class="iconTrangChu">Thể thao</a>
                    <ul class="subMenu">
                        <li class="subItem">
                            <a href="">Bóng đá Việt Nam</a>
                        </li>
                        <li class="subItem">
                            <a href="">Bóng đá quốc tế</a>
                        </li>
                        <li class="subItem">
                            <a href="">Hậu trường</a>
                        </li>
                        <li class="subItem">
                            <a href="">Các môn khác</a>
                        </li>
                        <li class="subItem">
                            <a href="">Trực tiếp bóng đá</a>
                        </li>
                    </ul>
                </li>
                <li class="item"><a [routerLink]="['/cong-nghe']" routerLinkActive="$router_link-active$" class="iconTrangChu">Công nghệ</a>
                    <ul class="subMenu">
                        <li class="subItem">
                            <a href="">Cộng đồng mạng</a>
                        </li>
                        <li class="subItem">
                            <a href="">Sản phẩm</a>
                        </li>
                        <li class="subItem">
                            <a href="">Ứng dụng</a>
                        </li>
                        <li class="subItem">
                            <a href="">Viễn thông</a>
                        </li>
                        <li class="subItem">
                            <a href="">Bảo mật</a>
                        </li>
                    </ul>
                </li>
                <li class="item"><a [routerLink]="['/suc-khoe']" routerLinkActive="$router_link-active$" class="iconTrangChu">Sức khỏe</a>
                    <ul class="subMenu">
                        <li class="subItem">
                            <a href="">Làm đẹp</a>
                        </li>
                        <li class="subItem">
                            <a href="">Các bệnh</a>
                        </li>
                        <li class="subItem">
                            <a href="">Tư vấn sức khỏe</a>
                        </li>

                    </ul>
                </li>
                <li class="item"><a [routerLink]="['/bat-dong-san']" routerLinkActive="$router_link-active$" class="iconTrangChu">Bất động sản</a>
                    <ul class="subMenu">
                        <li class="subItem">
                            <a href="">Dự án</a>
                        </li>
                        <li class="subItem">
                            <a href="">Nội thất</a>
                        </li>
                        <li class="subItem">
                            <a href="">Tư vấn</a>
                        </li>
                        <li class="subItem">
                            <a href="">Tin bất động sản</a>
                        </li>
                        <li class="subItem">
                            <a href="">Nhà đẹp</a>
                        </li>
                    </ul>
                </li>
                <li class="item"><a [routerLink]="['/ban-doc']" routerLinkActive="$router_link-active$" class="iconTrangChu">Bạn đọc</a>
                    <ul class="subMenu">
                        <li class="subItem">
                            <a href="">Hồi âm</a>
                        </li>
                        <li class="subItem">
                            <a href="">Chia sẻ</a>
                        </li>
                        <li class="subItem">
                            <a href="">Thơ</a>
                        </li>

                    </ul>
                </li>
                <li class="item"><a [routerLink]="['/tuan-vn']" routerLinkActive="$router_link-active$" class="iconTrangChu">Tuần Việt Nam</a>

                </li>
                <li class="item"><a [routerLink]="['/xe']" routerLinkActive="$router_link-active$" class="iconTrangChu">Xe</a>
                    <ul class="subMenu">
                        <li class="subItem">
                            <a href="">Xe mới</a>
                        </li>
                        <li class="subItem">
                            <a href="">Khám phá</a>
                        </li>
                        <li class="subItem">
                            <a href="">Sau tay lái</a>
                        </li>
                        <li class="subItem">
                            <a href="">Diễn đàn</a>
                        </li>
                        <li class="subItem">
                            <a href="">Tư vấn</a>
                        </li>
                    </ul>
                </li>
                <li class="item"><a [routerLink]="['/video']" routerLinkActive="$router_link-active$" class="iconTrangChu">Video</a>

                </li>
                <li class="item itemPoint"><a href="" class="more"><i class="fas fa-ellipsis-v"></i></a></li>
                <hr>
            </ul>
        </div>
    </div>

</div>
