.carousel-content a {
    text-decoration: none;
}

.carousel-main {
    z-index: 0;
    width: 80%;
}

.carousel-content a .title {
    color: #545454;
    /*font-weight: bold;*/
    line-height: 1.4;
    font-size: 15px;
}

.carousel-content a:hover .title {
    color: #971927;
}
