@import url('http://fonts.googleapis.com/css?family-Numans');
html,body{
  background-color:dimgrey;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
}
.navbar{
  background-color: blue ;
}
.line-top{
  margin-left: 35%;
  color: aliceblue;
}
.hinhnen{
  max-width: 90%;
  margin-left: 60px;
}
