<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css">
  <link rel="stylesheet" href="nguoi-dung.component.css">
</head>
<body>
  <div class="navbar navbar-expand-lg" >
    <H3 class="line-top">THÀNH VIÊN VIETNAMNET</H3>
  </div>
  <div class="col-xs-12  hinhnen">
    <div class="hinhnen">
      <img src="https://id.vietnamnet.vn/images/bg2.png" style="width: 100%;" alt="ảnh nền">
    </div>
  </div>
</body>
</html>
