<div class="container">
  <h3></h3>
  <div class="grid-item">
    <div class="grid-item-left">
      <img height="80%" width="100%" src="{{RssDataGiaoDuc?.rss.channel[0].item[0].content[0].url}}"><br>
      <a name="description" (click)="getRssDetail(0)" [routerLink]="['/giao-duc-detail']" routerLinkActive="router-link-active">{{RssDataGiaoDuc?.rss.channel[0].item[0].title[0]}}</a>
      <p style="font-size: 10px">{{RssDataGiaoDuc?.rss.channel[0].item[0].pubDate |date:'longDate'}}</p>
      <p style="font-size: 20px">{{RssDataGiaoDuc?.rss.channel[0].item[0].description}}</p>
    </div>
    <div>
      <ul>
        <li *ngFor="let o of RssDataGiaoDuc?.rss.channel[0].item let i = index ">
          <div class="grid-item-column" *ngIf="i>0&&i<5">
            <img style="height: 85%; width: 100%;" src="{{o.content[0].url}}">
            <div style="padding-left: 20px">
              <a  [routerLink]="['/doi-song-detail']" (click)="getRssDetail(i)" routerLinkActive="router-link-active" >{{ o.title }}</a
              >
              <p style="font-size: 10px">{{o.pubDate |date:'longDate'}}</p></div>

          </div>
        </li>
      </ul>
    </div>
  </div>

  <ul>
    <li *ngFor="let o of RssDataGiaoDuc?.rss.channel[0].item let i = index ">
      <div *ngIf="i>5">
        <div class="list-item">
          <div>
            <img style="height: 180px; width: 90%;" src="{{o.content[0].url}}">
          </div>
          <div class="list-item-atext">
            <a [routerLink]="['/giao-duc-detail']" (click)="getRssDetail(i)" routerLinkActive="router-link-active" >{{ o.title }}</a
            >
            <p style="font-size: 10px">{{o.pubDate |date:'longDate'}}</p>
            <p>{{o.description}}</p>
          </div>
        </div>
      </div>
    </li>
  </ul>

</div>
