
<div class="container dang-ky">
  <div class="card bg-light"></div>
  <article class="card-body" style="max-width: 800px;">
    <div>
      Họ và tên:<input type="text"><br>
    </div>
    <div>
      Email: <input type="text"><br>
    </div>
    <div>
      Số điện thoại: <input type="text"><br>
    </div>
    <div>
      Tên đăng nhập: <input type="text"><br>
    </div>
    <div>
      Mật Khẩu: <input id="pasword" type="password"><br>
    </div>
    <div>
      Nhập lại mật khẩu: <input id="passwordAgain" type="password">
    </div>
    <div>
      <input type="checkbox"><label> Tôi đồng ý với điều khoản sử dụng</label>
    </div>
    <div>
      <button type="submit" class=""> Đăng ký </button>
			<button type="submit" class=""> Nhắc lại </button>
    </div>
  </article>
  </div>

</div>
