<header>THÀNH VIÊN VIETNAMNET</header>
<div class="container">
<div class="header-dangky">
  <img class="img-header" src="../../assets/img/imageDk.png" height="320" width="1150"/>
  <img class="img-user" src="../../assets/img/user-vietnamnet.png" height="168" width="168"/>
</div>
<div class="dang-ky">
  <p class="text-dk">ĐĂNG KÝ TÀI KHOẢN</p>
  <div class="box-textdk">
    <div class="box-textdk-left">
      <p>Họ và tên:</p>
      <p>Email:</p>
      <p>Số điện thoại:</p>
      <p>Tên đăng nhập:</p>
      <p>Mật Khẩu:</p>
      <p>Nhập lại mật khẩu:</p>
    </div>
    <div class="box-textdk-right">
      <input type="text"><br>
      <input type="text"><br>
      <input type="text"><br>
      <input type="text"><br>
      <input type="password"><br>
      <input type="password"><br>
    </div>
  </div>
  <input class="check-dongy" type="checkbox"><label> Tôi đồng ý với điều khoản sử dụng</label><br>
  <button type="submit" class="btn-dk"> Đăng ký </button>
  <button type="submit" class="btn-nl"> Nhắc lại </button>

</div>
</div>
