<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css">
  <link rel="stylesheet" href="dang-ky.component.css">
</head>
<body>
  <div class="navbar navbar-expand-lg" >
    <H3 class="line-top">THÀNH VIÊN VIETNAMNET</H3>
  </div>
  <div class="col-xs-12  hinhnen">
    <div class="hinhnen">
      <img src="https://id.vietnamnet.vn/images/bg2.png" style="width: 100%;" alt="ảnh nền">
    </div>
  </div>
  <div class="container dang-ky">
    <div class="card bg-light">
      <article class="card-body" style="max-width: 850px ; height: 500px;">
        <div class="ht">
          Họ và tên: <input type="text" ><br>
        </div>
        <div class="email">
          Email: <input type="text" ><br>
        </div>
        <div class="sdt">
          Số điện thoại: <input type="text" ><br>
        </div>
        <div class="tdn">
          Tên đăng nhập: <input type="text" ><br>
        </div>
        <div class="pw">
          Mật Khẩu: <input id="pasword" type="password" ><br>
        </div>
        <div class="rpw">
          Nhập lại mật khẩu: <input id="passwordAgain" type="password" >
        </div>
        <div>
          <input type="checkbox" class="cb"><label> Tôi đồng ý với điều khoản sử dụng</label>
        </div>
        <div>
          <button type="submit" class="dk"> Đăng ký </button>
          <button type="submit" class="nl"> Nhập lại </button>
        </div>
      </article>
    </div>
  </div>
</body>
</html>

