<header>THÀNH VIÊN VIETNAMNET</header>
<div class="container">
  <div class="header-khoiphuc">
    <img class="img-header" src="../../assets/img/imageDk.png" height="320" width="1150"/>
    <img class="img-user" src="../../assets/img/user-vietnamnet.png" height="168" width="168"/>
  </div>
  <div class="khoi-phuc">
    <p class="text-kp">KHÔI PHỤC MẬT KHẨU</p>
    <div class="box-textkp">
      <div class="box-textkp-left">
        <p>Tên đăng nhập:</p>
        <p>Email:</p>
      </div>
      <div class="box-textkp-right">
        <input type="text"><br>
        <input type="text"><br>
      </div>
    </div>
    <button type="submit" class="btn-kp">Khôi phục mật khẩu</button>

  </div>
</div>
