header{
  text-align: center;
  background: #008bff;
  color: #ffffff;
  padding: 15px;
  font-size: 30px;
}

.img-user{
  margin-top: -100px;
  margin-left: 30px;
  margin-bottom: 50px;
}
.khoi-phuc{
  background: #d2d2d2;
  border-style: solid;
}
.text-kp{
  font-size: 25px;
  background: #ffffff;
  padding: 10px;
}
.box-textkp{
  display: grid;
  grid-template-columns: 20% 80%;
  /*text-align: center;*/
}
.box-textkp-left{
  text-align: right;
  margin-right: 50px;

}
.box-textkp-left p{
  margin-bottom: 15px;
}
.box-textkp-right input{
  margin-bottom: 8px;
  width: 60%;
  text-align: left;
}

.btn-kp{
  margin-left: 150px;
  margin-bottom: 20px;
  padding: 10px 15px 10px 15px;
  color: #ffffff;
  background: #bc1f25;
}
