<header>
  <h4 class="text-thanhvien">THÀNH VIÊN VIETNAMNET</h4>
  <h4 class="text-dangxuat">Đăng xuất</h4>
  <img src="../../assets/img/img.png" height="40" width="40"/>
</header>
<div class="container">
  <div class="header-thanhvien">
    <img class="img-header" src="../../assets/img/imageDk.png" height="320" width="1139"/>
    <img class="img-user" src="../../assets/img/user-vietnamnet.png" height="168" width="168"/>
  </div>
  <div class="cac-muc">
    <div></div>
    <div class="danh-muc">
      <img src="../../assets/img/img_1.png" height="29" width="29"/>
      <p>Dòng thời gian</p>
    </div>
  <div class="danh-muc">
    <img src="../../assets/img/img_2.png" height="27" width="27"/>
    <p>Bình luận</p>
  </div>
  <div class="danh-muc">
    <img src="../../assets/img/img_3.png" height="29" width="29"/>
    <p>Tin đã quan tâm</p>
  </div>
</div>
  <div class="box-inf">
    <div class="box-inf-left">
      <div class="box-gioithieu">
        <div class="tb-gioithieu">
        <table >
        <tr><td><img src="../../assets/img/img_4.png" height="38" width="38"/></td><td><p>Giới thiệu</p></td></tr>
        </table>
        </div>
        <div class="tb-email">
        <table>
          <tr>
            <td><img src="../../assets/img/img_5.png" height="32" width="32"/></td>
            <td>Email</td>
          </tr>
          <tr>
            <td><img src="../../assets/img/img_6.png" height="32" width="32"/></td>
            <td>Đến từ</td>
          </tr>
        </table>
        </div>
      </div>
      <div class="box-gioithieu">
        <div class="tb-gd-tm">
          <table >
            <tr><td><img src="../../assets/img/iconclock.png" height="34" width="34"/></td><td><p>Các bài đã xem gần đây</p></td></tr>
          </table>
        </div>
      </div>
      <div class="box-gioithieu">
        <div class="tb-gd-tm">
          <table >
            <tr><td><img src="../../assets/img/iconnews.png" height="44" width="44"/></td><td><p>Tin mới</p></td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="box-inf-right"></div>
  </div>
</div>
